<!DOCTYPE html>
<html>
<head>
  <title>Edit Profile</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <h1>Edit links</h1>

  <form action="/edit" method="POST">
    <input name="instagram" placeholder="Instagram URL">
    <input name="youtube" placeholder="YouTube URL">
    <input name="twitter" placeholder="Twitter URL">
    <button>Save changes</button>
  </form>

  <p class="small-text">
    <a href="/logout">Logout</a>
  </p>
</div>

</body>
</html>
