<!DOCTYPE html>
<html>
<head>
  <title>Create Account</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <h1>Create your page</h1>

  <form action="/signup" method="POST">
    <input name="username" placeholder="Username" required>
    <input name="email" placeholder="Email" required>
    <input name="password" placeholder="Password" required>
    <input name="instagram" placeholder="Instagram URL">
    <input name="youtube" placeholder="YouTube URL">
    <input name="twitter" placeholder="Twitter URL">
    <button>Create account</button>
  </form>

  <p class="small-text">
    Already have an account?
    <a href="/login">Login</a>
  </p>
</div>

</body>
</html>
